/* === COMBINATION === */

.combination {
    display: grid;
}

.combination--resize {
    user-select: none;
    -webkit-user-select: none; /* Safari support. */
    cursor: col-resize;
}

.combination__separator {
    transition: var(--transition);
    cursor: col-resize;
    background-color: var(--flexoki-magenta-400);
    background-clip: content-box; /* stops background bleeding into border. */
    border-radius: 12px;
    border: 8px solid transparent;
    opacity: 0;
}

.combination__separator:hover,
.combination__separator--resize {
    opacity: 0.33;
}
