:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  color: var(--flexoki-black);

  --flexoki-black:       #100F0F;
  --flexoki-paper:       #FFFCF0;

  --flexoki-950:         #1C1B1A;
  --flexoki-900:         #282726;
  --flexoki-850:         #343331;
  --flexoki-800:         #403E3C;
  --flexoki-700:         #575653;
  --flexoki-600:         #6F6E69;
  --flexoki-500:         #878580;
  --flexoki-300:         #B7B5AC;
  --flexoki-200:         #CECDC3;
  --flexoki-150:         #DAD8CE;
  --flexoki-100:         #E6E4D9;
  --flexoki-50:          #F2F0E5;

  --flexoki-red-600:     #AF3029;
  --flexoki-red-400:     #D14D41;

  --flexoki-orange-600:  #BC5215;
  --flexoki-orange-400:  #DA702C;

  --flexoki-yellow-900:  #4D3A0B;
  --flexoki-yellow-600:  #AD8301;
  --flexoki-yellow-400:  #D0A215;
  --flexoki-yellow-100:  #FCEEB8;

  --flexoki-green-600:   #66800B;
  --flexoki-green-400:   #879A39;

  --flexoki-cyan-950:    #142625;
  --flexoki-cyan-600:    #24837B;
  --flexoki-cyan-400:    #3AA99F;
  --flexoki-cyan-50:     #EBF2E7;

  --flexoki-blue-600:    #205EA6;
  --flexoki-blue-400:    #4385BE;

  --flexoki-purple-600:  #5E409D;
  --flexoki-purple-400:  #8B7EC8;

  --flexoki-magenta-600: #A02F6F;
  --flexoki-magenta-400: #CE5D97;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
    font-feature-settings:
        "ss03", /* Round quotes & commas*/
        "cv10", /* Capital G with spur */
        "zero", /* Slashed zero */
        "ss02" /* Disambiguation */
        ;
    font-weight: 300;
    letter-spacing: 1.2;
    word-spacing: 1.6;
    line-height: 1.4;
    color: var(--flexoki-black);
    }
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

::placeholder {
    color: rgba(0,0,0,0.5);
}

body {
    margin: 0;
    background: white;
}

a {
    color: var(--flexoki-blue-400);;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: clamp(1px, 4px, 0.1em);
    text-underline-offset: clamp(2px, 8px, 0.2em);
}

a[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.25;
}

p, ul {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 1px;
}

p {
    margin: 0 0 24px 0;
}

ul {
    margin: 24px;
}

li {
    margin-bottom: 6px;
}

h2 {
    font-size: 42px;
    font-weight: 300;
    letter-spacing: 4px;
    margin: 0 0 12px 0;
}

header section.top {
    display: flex;
    align-items: flex-end;
    padding: 16px 0;
}

header aside nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    /* Line up with h1 in header. */
    padding-bottom: 8px;

}

header aside nav a {
    padding-top: 5px;
    font-size: 14px;
}

header a {
    color: var(--flexoki-black);
}

header aside nav a {
    letter-spacing: 2px;
    margin: 0;
    line-height: 1.25;
    font-weight: normal;
}

header h1 {
    flex-grow: 1;
    font-size: 72px;
    display: inline;
    font-weight: 100;
    letter-spacing: 4px;

    margin: 0;
    line-height: 1;
}

button.back {
    transition: all 0.2s;
    margin-top: 12px;
    margin-bottom: -12px;
    background: url(/images/backward-svgrepo-com.svg);
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 2px center;
    cursor: pointer;
    padding-left: 20px;
    border: none;
    color: #1060d7;
    font-size: 16px;
}

button.back:hover {
    text-decoration: underline;
    transform: scale(1.2);
}

button.language {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: var(--margin-l);
    font-size: 24px;
}

button.language:hover {
    animation: wiggle 2s ease-in;
    opacity: 1;
}

/*  The extra shell div is needed for the timeline to work.
    TODO: better fix than this
*/
#shell {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

main {
    align-self: center;
}

img.language-icon {
    height: 20px;
    width: 20px;
}

#shell.fetching {
    cursor: progress;
}

/* While fetching, the search results blur out and become inactive. */
#shell.fetching .search-result .kvs-list,
#shell.fetching .reader-page {
    opacity: 0.33;
    filter: blur(5px);
    filter: blur(5px);
    pointer-events: none;
}

header, main, footer {
    margin-top: var(--margin-xl);
}

#shell > footer {
    text-align: center;
    margin-top: auto;
    padding: var(--margin-xl) var(--padding);
}

header,
header > section.middle {
    width: 100%;
}

nav.index-links {
    letter-spacing: 2px;
}

main > article,
header > section.top,
nav.index-links,
header > section.bottom
{
    max-width: 900px;
    width: calc(100vw - var(--margin-l) - var(--margin-l));

    margin-left: auto;
    margin-right: auto;
}

header > section.middle {
    background-color: var(--flexoki-magenta-400);
}

article.tabs {
    width: inherit;
}

main > article.reader-page {
    width: 180ch;
    max-width: calc(100vw - 64px);
}

article.reader-preview-page input[type=file] {
    margin-bottom: 10px;
}

.search-form {
    display: flex;
    flex-direction: column;
    letter-spacing: 1.25;
    font-size: 16px;
    margin: var(--margin) 0 var(--margin-xl) 0;
}

.search-form > .input-row {
    display: flex;
}

.search-icon {
    width: 24px;
    height: 24px;
}

.search-form > * + * {
    margin-top: 16px;
}

label {
    line-height: 1; /* Better align label icons. */
    padding-right: 4px;
    cursor: pointer;
    font-weight: 400 !important; /* Similar to search icon. */
    transition: transform 0.2s;
}

label:hover {
    transform: scale(1.2);
}

.search-form__item {
    display: inline-flex;
    align-items: center;

    transition: all 0.2s;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 20px;
    padding: 6px 12px;
    margin: 12px;
    white-space: nowrap;
}

.search-form__item:hover {
    border: 1px solid var(--flexoki-black);

}

.search-form__item > button {
    all: unset; /* https://stackoverflow.com/questions/2460100/remove-the-complete-styling-of-an-html-button-submit */
    cursor: pointer;
    outline: revert;
    color: transparent;

    transition: all 0.2s;
    background: url(/images/x-black.svg) no-repeat center;
    background-size: 24px;
    line-height: 24px;
    height: 24px;
    width: 24px;
    vertical-align: text-bottom;
}

.search-form__item > button:hover {
    transform: scale(1.5);
    background-size: 20px;
}

.search-form__item > button {
    margin-left: 4px;
}

img.entity-icon {
    height: var(--font-size);
    width: var(--font-size);
    margin-right: var(--margin);
}

a.action {
    font-size: var(--font-size-l);
}

img.action__icon {
    transition: all 0.2s;
    height: var(--font-size-l);
        width: var(--font-size-l);
    opacity: 0.33;
    margin-left: var(--margin);
    vertical-align: text-top;
}

a:hover img.action__icon {
    opacity: 1;
}

.search-form legend > button {
    all: unset; /* https://stackoverflow.com/questions/2460100/remove-the-complete-styling-of-an-html-button-submit */
    cursor: pointer;
    outline: revert;
    color: transparent;

    transition: all 0.2s;
    background: url(/images/x-black.svg) no-repeat center;
    background-size: 16px;
    width: 20px;
    vertical-align: text-bottom;
    margin-left: 4px;
}

.search-form legend > button:hover {
    transform: rotate(90deg);
    background-size: 24px;
    opacity: 1;v
}

.search-form__item-key {
    color: rgba(0,0,0,0.5);
    margin-right: 8px;
}

.search-form__item-select {
    position: absolute;
    background: transparent;
    color: transparent;
    -webkit-appearance: none; /* Safari-specific background removal. */
    cursor: pointer;
    border: none;
    margin: -12px; /* Counter parent margin. */
    min-height: 30px;
    font-size: 16px;
    width: 100%;
}

/* Fix bug on Windows where options were permanently painted transparent. */
.search-form__item-select option {
    color: initial;
    background: initial;
}

.search-form__item-connection {
    font-size: 32px;
    font-weight: 100;
    vertical-align: baseline;
    color: var(--flexoki-magenta-400);
}

details summary {
    font-size: 12px;
    color: var(--color);
    margin: 0;
    text-align: right;
    text-transform: uppercase;
    cursor: pointer;
    width: fit-content;
    margin-left: auto;
}

details[open] summary {
    margin-bottom: var(--margin);
}

.input-row
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#v {
    max-width: 50%;
}

.input-row > * + *
{
    margin-left: 6px;
}

.input-row input[type=list],
.input-row input[type=date],
.input-row input[type=number],
.input-row input[type=checkbox],
.input-row input[type=submit],
.input-row button,
.input-row select
{
    appearance: none;

    transition: all 0.2s;
    font-size: 20px;
    color: var(--flexoki-black);
    border: 1px solid var(--flexoki-black);
    border-radius: 4px;
    background: white;
    padding: 8px 12px;

    /* Fix Safari issue in search result paging. */
    margin-top: 0;
    margin-bottom: 0;
}

.input-row input[type=list] {
    flex-grow: 1;
}

.input-row input[type=submit] {
    cursor: pointer;
}

.input-row select:active {
    color: var(--flexoki-black);
}

.input-row select:not(:disabled) {
    cursor: pointer;
}

*:disabled
{
    opacity: 0.33;
}

.search-form fieldset {
    border: 1px solid var(--flexoki-black);
    border-radius: 4px;
    padding: 8px 24px 24px 24px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.search-form > *:not(:first-child) {
    margin-top: var(--margin-xl);
}

.input-row input.bad-input {
    box-shadow: 0 0 8px 4px #d64646;
}

.input-row input.good-input {
    box-shadow: 0 0 8px 4px #70e400;
}

.search-form fieldset legend {
    font-size: 20px;
    color: var(--flexoki-ink);
    padding: 0 8px;
    text-transform: uppercase;
}

.search-result {
    margin-top: 48px;
}

.search-result > * + * {
    margin-top: 24px;
}

.search-result__paging {
    transition: all 0.2s;
}

.search-result__paging .input-row {
    justify-content: center;
    align-items: stretch;
}

.search-result__paging button,
.search-result__paging select {
    min-width: 150px;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 0;
    background: none;
}

.search-result__paging button:not([disabled]):hover,
.search-result__paging select:not([disabled]):hover {
    text-decoration: underline;
}

.search-result__paging select {
    border-left: 1px solid var(--flexoki-black);
    border-right: 1px solid var(--flexoki-black);
}

.search-result__paging button[disabled] {
    cursor: not-allowed;
}

ul.search-results {
    padding: 0;
    margin: 24px 0;
}

.thumbnail {
    padding: 0 0 0 36px;
    margin-right: 24px;
    align-self: center;
    line-height: 0;
}

.illustration > img:first-of-type {
    width: 100%;
    cursor: zoom-in;
}

.thumbnail,
.illustration > img:first-of-type {
    outline-offset: 2px;
    outline: 6px solid transparent;
    transition: all 0.1s;
}

.illustration > img:first-of-type:hover,
.illustration > img:first-of-type:focus,
.thumbnail:hover,
.thumbnail:focus {
    outline-color: var(--flexoki-magenta-400);
}

.thumbnail img {
    max-width: 160px;
}

li.thumb-result {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

li.thumb-result  {
    margin: 0;
}

li.thumb-result + li {
    margin-top: 64px;
}

.thumb-result .reader-content {
    flex-grow: 1;
}

.text-content {
    padding: 24px;
    background: white;
    border: 1px solid var(--flexoki-magenta-600);
    border-radius: 2px;
}

table.entity-metadata {
    border-collapse: collapse;
    width: 100%;
    color: var(--flexoki-black);
}

table.entity-metadata td {
    padding: var(--padding);
    vertical-align: text-top;
}

table.entity-metadata td:first-child {
    width: 1px;
    padding-left: var(--padding-l);
    text-align: right;
    text-transform: uppercase;
    font-size: 12px;
}

/* Creates an index card like appearance. */
table.entity-metadata tr {
    border-bottom: 1px solid #ddd;
}

table.entity-metadata tr:last-child {
    border-bottom: none;
}

table.entity-metadata dl {
    margin: 0;
}

table.entity-metadata dl dt {
    text-transform: uppercase;
    font-size: var(--font-size-s);
    border-bottom: var(--border-subtle);
    width: fit-content;
    padding-bottom: var(--padding-s);
    margin-bottom: var(--margin);
}

table.entity-metadata dl dd {
    margin: 0;
}

table.entity-metadata ul {
    padding-left: var(--padding-l);
    list-style-type: none;
}

table.entity-metadata dd > ul {
    margin: 0 0 var(--margin-l) 0;
}

table.entity-metadata td > ul {
    margin: 0;
    padding: 0;
}

table.entity-metadata dd:last-child > ul {
    margin: 0;
}

table.entity-metadata ul li {
    padding: 0;
}

table.entity-metadata ul li + li {
    margin-top: var(--margin-s);
}

.main-page h1 {
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: var(--margin-xl);
}

nav.skip-links {
    font-size: 24px;
    font-style: italic;
    text-align: center;
    word-spacing: 6px;
    letter-spacing: 2px;
    margin-top: var(--margin-xl);
}

.index-links {
    text-transform: uppercase;
    font-size: 24px;
    display: flex;
}

.index-links a,
.index-links span {
    color: white;
    white-space: nowrap;
    padding: 16px 2px;
}

.index-links > * + * {
    margin-left: 24px;
}

.index-links span {
    text-decoration: underline;
}

hr {
    border: none;
    border-top: var(--border-subtle);
    margin: var(--margin-l) 0;
}

dl.kvs-list dt {
    transition: all 0.2s;
    font-size: 20px;
    font-weight: 400;
    color: var(--flexoki-paper);
    letter-spacing: 2px;
    background: var(--flexoki-black);

    padding: 12px 24px;
}

dl.kvs-list dt + dd {
    margin: 24px;
}

dl.kvs-list dd + dt {
    margin-top: 48px;
}

dl.kvs-list dd {
    margin: 0;
    font-size: 16px;
    color: var(--color);
    line-height: 1.6;
    letter-spacing: 1.25;
}

dl.kvs-list dd ul {
    margin: 0;
}

dl.kvs-list dd li {
    margin-top: 12px;
    padding-left: 6px;
}

.main-page em {
    font-weight: bold;
    font-style: italic;
    font-size: 20;
}

.main-page table.entity-metadata td:first-child {
    font-weight: bold;
}
