/* === TABS === */

.tab-list {
    display: flex;
    height: 36px; /* TODO: calculate dynamically? */

    transition: var(--transition);

    border: var(--transparent-border);
    border-bottom: 1px solid var(--flexoki-black);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.tab-list--drag-over {
     background: var(--background);
     border: var(--inactive-border);
     border-bottom: 1px solid var(--flexoki-black);
}

.tab-list:empty {
    background: var(--background);
    border-radius: 4px;
    border: var(--inactive-border);
}

.tab {
    white-space: nowrap;
    overflow: hidden; /* Also fixes internal drop area when dragging. */
    text-overflow: ellipsis;
    transition: var(--transition);
    cursor: grab;
    color: var(--flexoki-black);
    font-size: var(--font-size);
    font-family: var(--font-family-heading);
    padding: var(--padding) var(--padding-xl);
    display: inline-block;
    background: white;
    border: 1px solid var(--flexoki-black);
    border-right: none;
    text-transform: uppercase;
    letter-spacing: 2px;

    /* Cover tab-list borders. */
    margin-bottom: calc(0px - var(--border-width));
    margin-top: calc(0px - var(--border-width));
}

/* Cover tab-list borders. */
.tab:first-child {
    margin-left: calc(0px - var(--border-width));
}
.tab:last-child {
    margin-right: calc(0px - var(--border-width));
}

.tab--drag {
    pointer-events: none; /* Ignore certain strange hover events. */
    transition:
        var(--transition),
        color 0s; /* Just looks better. */
    border-width: 0;
    padding-left: 0;
    padding-right: 0;
    width: 0;
    color: transparent;
}

/* Shouldn't transition at the end of tab-list. */
.tab:last-child.tab--drag {
    transition: all 0s;
}

/* TODO: doesn't seem relevant any longer, remove? */
/* Fixes issue with border... somehow! */
.tab:first-child:last-child.tab--drag {
    border: none;
}

.tab:first-child {
    border-top-left-radius: 4px;
}

.tab:last-child {
    border-top-right-radius: 4px;
    border-right: 1px solid var(--flexoki-black);
}

/* Keeping the outline (the default behaviour) sucks. */
.tab:active {
    outline: none;
}

/* :not(.tab-list--drag-parent) fixes Chrome :hover on adjacent element. */
.tab-list:not(.tab-list--drag-parent) > .tab:hover,
.tab:focus {
    text-decoration: underline;
    text-decoration-thickness: clamp(1px, 4px, 0.1em);
    text-underline-offset: clamp(2px, 8px, 0.2em);

    /* Fix missing outline border on infixed labels. */
    z-index: 1;
}

.tab[aria-selected="true"],
.tab-list:not(.tab-list--drag-parent) > .tab[aria-selected="true"]:hover {
    /* Extra padding making up for missing border. */
    border-bottom: none;
    padding-bottom: calc(var(--padding) + var(--border-width));
}

.tab-panel {
    background: var(--background);
    padding: 24px;
    border: 1px solid var(--flexoki-black);
    border-radius:  4px;
}

/* The visual merging of tab-list and tab-panel is only based on placement. */
.tab-list + .tab-panel {
    border-top: none;
    border-radius: 0 0 4px 4px;
}



/* === CAROUSEL === */

.slide-picker {
    display: flex;
    min-height: var(--grid-16);
    justify-content: center;
    align-items: center;
    margin-left: var(--grid-8);
}

.slide-picker__dot {
    transition: var(--transition);
    cursor: pointer;
    height: var(--grid-12);
    width: var(--grid-12);
    border-radius: 50%;
    background: var(--color);
    filter: opacity(0.5);
    display: inline-block;
}

.slide-picker__dot:hover {
    filter: opacity(1);
}

.slide-picker__dot[aria-selected=true] {
    cursor: default;
    height: var(--grid-16);
    width: var(--grid-16);
    filter: opacity(1);
}

.slide-picker__dot + .slide-picker__dot {
    margin-left: var(--margin);
}

.carousel {
    display: flex;
    justify-content: center;
}

.carousel__slide {
    transition: var(--transition);
    flex-grow: 1;
}

.carousel__slide-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 12px;
}

.carousel__slide-label {
    color: var(--flexoki-black);
    font-size: 20px;
}

/* Used in lieu of header border style as it allows for alpha effects. */
.carousel__slide-separator {
    height: 24px;
    border-top: 4px solid var(--flexoki-magenta-400);
    width: 100%;
}

.carousel__controls {
    display: flex;
    align-items: center;
    margin-left: 12px;
}

button.carousel__select {
    width: 36px; /* Dummy value to allow for transitions. */
    padding: 0;
    background: url(/images/arrow-right.svg);
    border: none;
    height: 36px;
    opacity: 0.2;
    transition: all 0.2s;
}

/* Copied over from main.css */
.carousel__controls select
{
    appearance: none;

    transition: all 0.2s;
    font-size: 20px;
    color: var(--flexoki-black);
    border: 1px solid var(--flexoki-black);
    border-radius: 4px;
    background: white;
    padding: 8px 12px;
    cursor: pointer;

    /* Fix Safari issue in search result paging. */
    margin-top: 0;
    margin-bottom: 0;
}

button.carousel__select:first-child {
    background: url(/images/arrow-left.svg);
}

/* Removes the left border instead of the right. */
.carousel__slide ~ button.carousel__select {
    border: 1px solid var(--flexoki-black);
    border-radius: 0 4px 4px 0;
    border-left: none;
}

button.carousel__select[tabindex="0"] {
    opacity: 1;
    cursor: pointer;
}

button.carousel__select[tabindex="0"]:hover {
    transform: scale(1.2);
}

button.carousel__select:hover,
button.carousel__select:focus {
    cursor: click;
    filter: var(--inactive-filter-focus);
}