/* Hide all TEI metadata. */
teiHeader, facsimile {
    display: none;
}

page {
    display: block;
    width: fit-content;
    min-width: 40ch;
    min-height: 40ch;
    margin: 12px auto;
    padding: 24px;
    border: 1px solid #ddd;
    box-shadow: var(--box-shadow-elevated);
    background: #FFFCF0;
    line-height: 1.4;

    font-family: 'Computer Modern Concrete', serif;
    font-size: 16px;
}

/* Clearfix for floated left/right text. */
page::after,
div::after,
div1::after,
div2::after,
div3::after,
div4::after,
div5::after,
div6::after,
columns::after {
    content: "";
    clear: both;
    display: table;
}

columns {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

/* HTML div. */
div,
div1,
div2,
div3,
div4,
div5,
div6 {
    display: block;
    margin-top: 12px;
}

/* Adjusting margin for first element. */
pb + *,
div > *:first-child,
div1 > *:first-child,
div2 > *:first-child,
div3 > *:first-child,
div4 > *:first-child,
div5 > *:first-child,
div6 > *:first-child {
    margin-top: 0;
}

p {
    margin: 0;
}

head {
    display: block;
    margin-bottom: 12px;
}

space[dim=horizontal] {
    display: inline-block;
    width: 24px;
}

space[extent=lsk] {
    display: block;
    height: 12px;
}

[place*=right] {
    float: right;
    padding: 1ch;
    background: rgba(0,0,0,0.1);
    margin: 0.5em 0 1ch 0.5em;
}

[place*=left] {
    float: left;
    padding: 1ch;
    background: rgba(0,0,0,0.1);
    margin: 0.5em 1ch 0.5em 0;
}

[rend=handwritten],
[rend=handwritten] *,
[resp=hand],
[resp=hand] * {
    font-family: cursive;
}

[rend=underline] {
    text-decoration: underline;
}

[rend*=center],
[place*=center] {
    text-align: center;
}

[rend*=left] {
    text-align: left;
}

[rend*=right] {
    text-align: right;
}

[rend*=indent] {
     text-indent: 2ch;
 }

/* Undo text indent for initial letters. */
[rend*=indent] [rend*=initial] {
    text-indent: 0;
}

[rend*=big], big {
    font-size: 200%;
}

[rend*=bold] {
    font-weight: bold;
}

[rend*=italic] {
    font-style: italic;
}

/* Undo background colouring for certain special elements. */
[type=catch],
[type=pageNum] {
    background: none;
}

[rend*=initial] {
    border: 3px double black;
    font-size: 250%;
    min-width: 1.5ch;
    line-height: 1;
    text-align: center;
    padding: 6px;
    margin: 0 12px 6px 0;
    float: left;
}

/* Forme work, a running header/footer. */
fw {
  display: block;
}

/* Or to be more precise: figure *MISSING*. */
graphic,
figure {
  display: inline-block;
  width: 1ch;
  height: 1ch;
  border: 3px double black;
  margin: 0 0.2ch;
  vertical-align: middle;
  background: rgba(0,0,0,0.1);
}

lb + graphic,
lb + figure {
    display: block;
    margin: 1ch auto;
}

figure graphic {
    display: none;
}

/* Top-level illustrations are assumed to be bigger. */
div > figure,
div1 > figure,
div2 > figure,
div3 > figure,
div4 > figure,
div5 > figure,
div6 > figure {
    display: block;
    width: 8ch;
    height: 8ch;
    margin: 1ch auto;
}

pb {
  display: none;
}

/* Gaps of missing content. */
gap {
    display: inline-block;
    width: 4ch;
    height: 1em;
    margin: 0 0.5ch;
    background: rgba(0,0,0,0.1);
}

gap:not(:first-child) {
    margin-left: 1em;
}

gap:not(:last-child) {
    margin-right: 1em;
}







/* TODO: clean up the rest */


/* HTML address. */
address > *, dateline > * {
  display: block;
  font-style: italic;
}


/* Marking incorrect spelling inline. */
choice > sic::after {
    content: " [sic] ";
    opacity: 0.5;
    font-size: 75%;
    vertical-align: top;
}

/* Removing corrected spelling from text. */
choice > corr {
    display: none;
}

/* Unclear text is clearly marked with a red underline. */
unclear {
    text-decoration: red wavy underline;
}

unclear[reason=illegible] {
    text-decoration: none;
}

/* Otherwise seems to be mostly left empty. This adds some dimensionality. */
unclear[reason=illegible]::after {
    content: " ��� ";
    text-decoration: none;
}

/* Additions are also distinguished from normal text. */
add {
    font-weight: bold;
    font-style: italic;
}

add[place=above] {
    vertical-align: super;
    font-size: 70%;
}

[rend=handwritten],
[rend=handwritten] div,
[resp=hand],
[resp=hand] div {
    font-family: cursive;
}

[rend=underline] {
    text-decoration: underline;
}